<div class="main-container">
  <div class="content-container">
    <h2 class="login-here">Login Here</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      @if (inlineNotification.show) {
       <div
        class="inline-notification"
        [ngClass]="inlineNotification.type"
      >
        {{ inlineNotification.text }}
      </div> 
      }
      

      <div class="email-container">
        <label for="email" class="email-label">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          required
          class="email-input"
        />
        <app-validation-messages
          [control]="loginForm.get('email')"
          [errorMap]="{
            required: 'Email is required',
            email: 'Invalid email format.'
          }"
        ></app-validation-messages>
      </div>

      <div class="mb-4">
        <label for="password" class="block text-gray-700">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          required
          class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:border-blue-300"
        />

        <app-validation-messages
          [control]="loginForm.get('password')"
          [errorMap]="{
            required: 'Password is required',
            minlength: 'Password must be at least 5 characters long.'
          }"
        ></app-validation-messages>
      </div>

      <div class="flex justify-center">
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="w-2/4 bg-blue-900 text-white px-4 py-2 rounded hover:bg-blue-700"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
