<div class="main-container">
  <div class="content-container">
    <h2 class="login-here">Login Here</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      @if (inlineNotification.show) {
      <div class="inline-notification" [ngClass]="inlineNotification.type">
        {{ inlineNotification.text }}
      </div>
      }

      <div class="input-container">
        <label for="email" class="input-label">Email</label>
        <app-custom-input
          placeholder="Enter Email"
          type="email"
          id="email"
          [control]="getControlEmail()"
          [required]="true"
        ></app-custom-input>
        <app-validation-messages
          [control]="getControlEmail()"
          [errorMap]="{
            required: 'Email is required',
            email: 'Invalid email format.'
          }"
        ></app-validation-messages>
      </div>

      <div class="mb-4">
        <label for="password" class="input-label">Password</label>
        <app-custom-input
          placeholder="Enter Password"
          type="password" 
          id="password"
          [control]="getControlPassword()"
          [required]="true"
        ></app-custom-input>
        <app-validation-messages
          [control]="getControlPassword()"
          [errorMap]="{
            required: 'Password is required',
            minlength: 'Password must be at least 5 characters long.'
          }"
        ></app-validation-messages>
      </div>

      <div class="flex justify-center">
        <button
          type="submit"
          [disabled]="loginForm.invalid"
          class="w-2/4 bg-blue-900 text-white px-4 py-2 rounded hover:bg-blue-700"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
